nav {
    display: flex;
    justify-content: space-between;

}

.logo{
    margin: 2px;
    padding: 5px 5px 0px 5px;
}
nav div p a img {
    width: 75px;
}

nav div {
    display: flex;
    align-items: center
}

nav div p {
    padding: 5px 10px 5px 10px;
    margin: 30px;
    cursor: pointer;
}

nav div p:hover {
    background-color: #00698a;
    border-radius: 12px;
}

nav div p a {
    text-decoration: none;
}

nav div p a:visited {
    color: black;
}